# Local synthetic configuration only. Do not add credential values to this file.
AXTRO_ENV=development
AXTRO_SERVICE_NAME=api
AXTRO_PROVIDER_MODE=fake
AXTRO_SECRET_BROKER_HANDLE=secret://local/development-broker
AXTRO_PORT=3000
AXTRO_REQUEST_TIMEOUT_MS=10000
AXTRO_DEV_AUTH_ENABLED=false
AXTRO_LOG_LEVEL=info
